@font-face {
  font-family: 'iconfont';  /* project id 1504094 */
  src: url('https://at.alicdn.com/t/font_1504094_xmg6s1uky8f.eot');
  src: url('https://at.alicdn.com/t/font_1504094_xmg6s1uky8f.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1504094_xmg6s1uky8f.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1504094_xmg6s1uky8f.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1504094_xmg6s1uky8f.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1504094_xmg6s1uky8f.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
	content: "\e60c";
}

.icon-fangchan:before {
	content: "\e63b";
}

.icon-xiaoxi:before {
	content: "\e67e";
}

.icon-wode:before {
	content: "\e6b1";
}

.icon-sousuo:before {
	content: "\e61e";
}

.icon-VR:before {
	content: "\e67c";
}

.icon-fangchan:before {
	content: "\e620";
}

.icon-zixun:before {
	content: "\e66c";
}

.icon-ico:before {
	content: "\e63e";
}

.icon-zufang:before {
	content: "\e62f";
}

.icon-ershoufang:before {
	content: "\e630";
}

.icon-dianpu:before {
	content: "\e641";
}

.icon-jisuanqi:before {
	content: "\e79b";
}

.icon-news:before {
	content: "\e64e";
}

.icon-maifang:before {
	content: "\e60e";
}

.icon-bianmin:before {
	content: "\e608";
}
